@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:ital,wght@1,300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#main_head {
    display: grid;
    grid-column: 1/6;
    grid-row: 1/2;
    margin-top: 5%;
    margin-bottom: 4.5%;
    background-color: grey;
    grid-template-columns: 0px auto;
}

.icon {
    width: 60px;
    align-self: center;
    grid-column: 1/2;
    margin-left: 10%;
}

.title {
    justify-self: left;
    align-self: center;
    margin-left: 10%;
    grid-column: 2/3;
}

.idaho_img {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-bottom: 7em;
}

.idaho_title {
    grid-row: 2/3;
    grid-column: 2/5;
    margin-top: -2.5%;
    margin-left: 5%;
    text-align: center;
}

.idaho_text {
    grid-row: 2/3;
    grid-column: 2/5;
    margin-left: 5%;
    font-size: large;
    margin-top: 5%;
}

.utah_img {
    grid-row: 3/4;
    grid-column: 3/5;
    padding-bottom: 7em;
    margin-left: 5%;
}

.utah_title {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: -2.5%;
    text-align: center;
}

.utah_text {
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: large;
    margin-left: 5%;
    margin-top: 5%;
}

.arizona_img {
    grid-row: 4/5;
    grid-column: 1/3;
}

.arizona_title {
    grid-row: 4/5;
    grid-column: 2/5;
    margin-top: -2.5%;
    margin-left: 5%;
    text-align: center;
}

.arizona_text {
    grid-row: 4/5;
    grid-column: 2/5;
    margin-left: 5%;
    font-size: large;
    margin-top: 5%;
}


.logo {
    width: 60px;
}

.img {
    max-width: 450px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;  
}

body {
    background-color: #ededf5;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h4 {
    color: #21282C;
}

header {
    background-color: #849EAF;
    opacity: 85%;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white; 
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #CAD3D9;
    color: #2C0CFF;
}

footer {
    background-color: #C1D3DF;
    color: #2C0CFF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.1em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #2C0CFF;
    text-decoration: none;
}

footer a:hover {
    color: #2C0CFF;
}

footer .social img {
    padding-top: 15px;
}



@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}