@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Macondo&family=MedievalSharp&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #AABD8C;
    opacity: 95%;
    display: grid;
    grid-template-columns: auto; 
}

nav {
    display: flex;
    justify-content: space-around; 
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 45px;
    padding-bottom: 5px;
    color: #620808;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 155px;
}

nav a:hover {
    background-color: #620808;
    color: #4EE2BD;
}

.home-title {
    color: #4EE2BD;
    font-family: "MedievalSharp", "Kelly Slab";
    font-size: 4em;
    text-align: center;
    margin-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-img {
    width: 100%;
    height: 700px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 250px;
}

.inutil {

}

body h2 {
    color: #191731;
    font-family: "MedievalSharp", "Kelly Slab";
    text-align: center;
    margin-top: 5%;
}

body h4 {
    font-family: 'Macondo', 'Kelly Slab', 'sans-serif';
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}

body {
    background-color: pink;
    font-family: 'Macondo', 'Kelly Slab', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 5%;
}

.ultimate, .classic, .arcade {
    grid-row: 1/3;
}

.ultimate {
    grid-column: 2/3;

}

.classic {
    grid-column: 4/5;
}

.arcade {
    grid-column: 6/7;
}

.invite {
    grid-row: 4/6;
}

.ultimate-img, .classic-img, .arcade-img {
    width: 250px;
    height: 350px;
    margin: 5px;
    border: 7px outset #620808;;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

section h3 {
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

.bottom-img {
    width: 600px;
    height: 350px;
}

.footer-logo {
    width: 75px;
}

.main-img {
    width: 250px;
}

.secondary-img {
    width: 250px;
}

footer {
    background-color: #AABD8C;
    color: #620808;
    padding: 25px 25px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    width: 150px;
}

footer a {
    text-decoration: none;
    color: #620808;
}

footer p {
    font-size: 0.9em;
}

footer a:hover {
    color: #191731;
    text-decoration: underline;
}

.social p {
    text-align: center;
}

.social a img {
    padding: 5px;
}